.background {
    background-image: url("https://www.designyourway.net/drb/ths/diverse/blacktextures/77461942.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
